AppHackathon/AppHackathon.xcodeproj/project.xcworkspace/xcuserdata
AppHackathon/Pods
AppHackathon/AppHackathon.xcworkspace/xcuserdata/joseguilhermebestel.xcuserdatad/UserInterfaceState.xcuserstate
AppHackathon/AppHackathon/.DS_Store
AppHackathon/.DS_Store
.DS_Store
