<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242335892207-d90pji5g8etcnv2cbt4nsr40jruqdt4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242335892207-d90pji5g8etcnv2cbt4nsr40jruqdt4c</string>
	<key>API_KEY</key>
	<string>AIzaSyBxE3aoS_EiXJLLHHC1nONHTD8Ssl3JdKk</string>
	<key>GCM_SENDER_ID</key>
	<string>242335892207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.time155.AppHackathon</string>
	<key>PROJECT_ID</key>
	<string>app-hackathon-ccr</string>
	<key>STORAGE_BUCKET</key>
	<string>app-hackathon-ccr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242335892207:ios:a49ff4cc7bd980d780511a</string>
	<key>DATABASE_URL</key>
	<string>https://app-hackathon-ccr.firebaseio.com</string>
</dict>
</plist>